table, th, td, tr 
{
    border: 1px solid black;
    margin-top: 25px;
}

.forma{
    margin-left: 20px;
    margin-right: 20px;
}

.forma p{
    text-indent: 20px;
}

.forma h1{
    font-weight: bolder;
    margin-bottom: 50px;
}

.forma ul{
    line-height: 30px;
}

.forma ul li span{
    font-weight: bold;
    line-height: 40px;
}

.links{
    text-decoration: none;
    color: #556B2F;
    font-weight: bolder;
}

.links:hover{
    color: #8FA31E;
}

#h3A{
    text-decoration: none;
    color :#556B2F;
}