table, th, td, tr 
{
    border: 1px solid black;
}

.forma{
    margin-left: 20px;
    margin-right: 20px;
}

.forma p{
    text-indent: 20px;
}

.forma h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: #556B2F;
}

a:hover{
    color: #8FA31E;
}