h1>b{
    color: #A4B939;
}

.slider {
    max-width: 1200px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    height: 400px;
    border: 2px solid #8FA31E;
}

.slides {
    display: flex;
    width: 300%;
    animation: slide 9s infinite;
}

.slide {
    width: 33.33%;
    text-align: center;
    transition: transform 0.5s ease;
}

.slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.slide p {
    margin: 10px 0;
    font-size: 18px;
    color: #556B2F;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-33.33%);
    }

    40% {
        transform: translateX(-33.33%);
    }

    60% {
        transform: translateX(-66.66%);
    }

    75% {
        transform: translateX(-66.66%);
    }

    100% {
        transform: translateX(0);
    }
}

.about{
    text-align: center;
}

table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-top: 45px;
    line-height: 35px;
}

td{
    padding: 0 10px 0 10px;
}

#ertekek{
    color: #556B2F;
    text-shadow: darkgrey 2px 3px;
    z-index: 1;
}

tr>td{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

thead td{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 2em;
    text-shadow: darkgrey 2px 3px;
    color: #556B2F;
}

.szamAdat{
    color: #556B2F;
    font-weight: bold;
}

.container b{
    color: #556B2F;
}

.about h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}