footer{
    columns: 2;
}

footer>h3{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
}

.Description{
    color: #8FA31E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
}

.Description>li>a{
    text-decoration: none;
    color: #A4B939;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all ease-in-out 0.3s;
}

 .Description>li>a:hover{
    color: white;
    font-weight: bold;
    font-size: larger;
    position: sticky;
    text-shadow: 1px 1px #A4B939;
 }


#FacebookLogo{
    padding:0px ;
    opacity: 50%;
    transition: all ease-in-out 0.45s;
}

#InstagramLogo{
    opacity: 50%;
    transition: all ease-in-out 0.45s;
}

#FacebookLogo:hover, #InstagramLogo:hover{
    width: 150px;
    opacity: 100%;
    transform: rotate(22deg);
}

#svg{
    margin-bottom: -40px;
}

#Map{
    margin-right: 0px;
}