footer {
    position: relative;
    width: 100%;
    color: #EFF5D2;
    text-align: center;
    padding-top: 100px;
}

#svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 0;
}

#footerDatas {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    align-items: flex-end; 
    gap: 20px;
    margin: 0 auto;
    padding: 0 20px; 
    height: 100%;
    box-sizing: border-box;
}

.informations {
    padding-left: 2.5%;
}

.slogen {
    font-weight: bold;
    text-align: center;
}

.media {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 7.75%;
    gap: 15px; 
    margin-bottom: 6px;
}

.Description {
    list-style: none;
    padding: 0;
}

.Description li a {
    color: #EFF5D2;
    text-decoration: none;
    display: block;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.Description li a:hover {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px #A4B939;
}

#XLogo,#InstagramLogo,#FacebookLogo {
    width: 64px;
    height: 64px;
}

#XLogo:hover,#InstagramLogo:hover,#FacebookLogo:hover{
    transform: rotate(22deg);
}


@media (max-width: 768px) {
    #footerDatas {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 20px;
        height: auto;
        color: #8FA31E;
    }

    .Description li a {
        color: #8FA31E;
    }

    .Description li a:hover{
        color: #A4B939;
    }

    .informations,
    .slogen,
    .media {
        flex: none;
        width: 100%;
        text-align: center;
        padding-left: 0;
        margin: 0 auto;
    }

    .media {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}