#Map{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

#Container{
    background-color: #556B2F;
    width: max-content;

    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    color: #EFF5D2;
}

#Header_Contact{
    background-color: #8FA31E;
    line-height: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
}

#Contact_me{
    color: #EFF5D2;
    line-height: 10px;
    padding-bottom: 10px;
}

#Container>a{
    color:  #EFF5D2;
    text-decoration: none;
    font-size: large;
    
}

form{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

form>fieldset>input{
    width: 50%;
    height: 35px;
    text-align: center;
    font-size: large;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    font-style: italic;

    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

form>fieldset>input::placeholder, form>fieldset>textarea::placeholder{
    color: #8FA31E;
}

form>fieldset>input:focus{
    width: 55%;
    height: 40px;
    transition: ease-in-out all 0.5s;
    border: #8FA31E 1px solid;

    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}


form>fieldset>textarea{
    text-align: center;
    font-size: large;
    border-radius: 25px;

    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

form>fieldset>textarea:focus{
    transition: ease-in-out all 0.5s;
    border: #8FA31E 1px solid;

    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

form>fieldset>label{
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
}

form>fieldset>button{
    background-color: #8FA31E;
    border-radius: 25px;
    border: 1px solid #A4B939;
    width: 150px;
    height: 35px;
    margin-top: 10px;
    letter-spacing: 1px;
    transition: all ease-in-out 0.35s;
    color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: medium;
}

form>fieldset>button:hover{
    width: 155px;
    height: 40px;
    background-color: white;
    color: #A4B939;
    cursor: pointer;
}

#Box{
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;

}

.Box-content{
    position: relative;
    text-align: center;
    background-color: #556B2F;
    align-items: center;
    overflow: auto;
    margin-top: 20%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 25px;
    font-size: large;
}

.CsapatTagok{
    text-align: center;
    background-color: #556B2F;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 25px;
    margin-top: 10px;
    border-radius: 25px;
    color: white;
    line-height: 5px;
}

#tagok{
    margin-bottom: -150px;
    z-index: 1002;
}