@media only screen and (max-width: 480px) {
    header {
        columns: 1;
        margin-bottom: 150px;
    }

    .MRM{
        font-size: small;
        line-height: 25px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    .logo{
        margin-left: -25px;
    }

    nav ul{
        display: flex;
        flex-wrap: wrap;
        width: 400px;
        row-gap: 20px;
    }

    footer{
        columns: 3;
    }

    footer > h3{
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    #Map_Fomenu{

    }

    /*Kapcsolat Oldal*/

    .container{
        width: auto;
    }

    /*Ingalanok*/

    aside{
        height: max-content;
        margin-top: 120px;
        width: 100%;
        margin-left: 50px;

    }

    section{
        clear: both;
        padding: 0;
        text-align: left;
        margin-top: 850px;
        justify-content: flex-start;
        margin-left: -350px;
        width: 100%;
    }

    section > h1{
        text-align: center;
    }
}